{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row bg-dark text-white">
        <div class="col-md-8">
            <p>{{ partie.etape.texteAmbiance }}</p>
            <div>Ceci est la (une ?) fin de l'aventure ! Bien joué ! Ou pas !</div>
            <a href="{{ path('app_jouer', {'idPartie': partie.id , 'idEtape': partie.etape.id}) }}" class="btn btn-primary">Jouer</a>
        </div>
    </div>
</div>
{% endblock %}