{% extends 'base.html.twig' %}

{% block title %} Liste des aventures {% endblock %}

{% block body %}
<div class="col">
<div class="card row" style="display: inline-block;margin-right: 10px;"><a href="#">
<img src="{{asset('images/avatars/'~personnage.avatar.getNomFichier())}}">
<span style="background-color: grey; color: white">{{ personnage.prenom }}</span> </a>
</div>

{% for aventure in aventures %}
<div class="col">
<div class="card row" style="display: inline-block;margin-right: 10px;"><a href="#">
<a href="#"> Jouer </a>
</div>
{% else %}
Aucune aventure
{% endfor %}

{% endblock %}