{% extends 'base.html.twig' %}

{% block title %}Hello JouerController!{% endblock %}

{% block body %}
<div class="col">
{% for personnage in personnages %}
<div class="card row" style="display: inline-block;margin-right: 10px;"><a href="#">
<img src="{{asset('images/avatars/'~personnage.avatar.getNomFichier())}}">
<span style="background-color: grey; color: white">{{ personnage.prenom }}</span> </a>
</div>
{% else %}
    Aucun personnage trouvé
{% endfor %}
<div class="row"><a href="/jouer/new">Créer</a></div>
</div>
{% endblock %}
