{% extends 'base.html.twig' %}

{% block title %}Edit Etape{% endblock %}

{% block body %}
    <h1 class="card">Edit Etape</h1>

    <div class="card">
    {{ include('etape/_form.html.twig', {'button_label': 'Update'}) }}
    </div>
    <a class="card" href="{{ path('app_etape_index') }}">back to list</a>
    <div class="card">
    {{ include('etape/_delete_form.html.twig') }}
    </div>
{% endblock %}
